[Unit]
Description=Kaspa Prometheus Exporter
After=network.target

[Service]
Type=simple
User=kaspa-exporter
Group=kaspa-exporter
ExecStart=/usr/bin/node /your-path-to-kaspa-src/kaspa-reliable-exporter.js
Restart=always
RestartSec=10
Environment=PORT=9110
Environment=KASPA_HOST=localhost
Environment=KASPA_JSON_RPC_PORT=18110
Environment=CACHE_SECONDS=30

[Install]
WantedBy=multi-user.target
